<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include includes/link-css %>
</head>
<% if(header && navbar){ %>
    <% include includes/header %>
        <% include includes/navbar %>
<% } %>