<% layout('layout/layout') %>



<div class="container user-form py-sm-5">
    <% if(false) { %>
        <div class="alert alert-danger" role="alert">
            Validation Message
        </div>
    <% } %>
    <div class="row">
        <div class="col-12 col-lg-4 offset-lg-2">
            <form id="signUp" class="mt-5">
                <div class="form-group">
                    <input type="text" name="fullname" value="" class="form-control" placeholder="Full name">
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" class="form-control" placeholder="example@abc.com">
                </div>
                <div class="form-group">
                    <input type="text" name="background" value="" class="form-control" placeholder="Educational Background">
                </div>
                <div class="form-group">
                    <input type="number" name="contact" value="" class="form-control" placeholder="Contact No.">
                </div>
                <div class="form-group">
                    <input type="password" name="password" value="" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <input type="password" name="confirm" value="" class="form-control" placeholder="Confirm Password">
                </div>
                <button type="submit" name="submit">Sign Up</button>
            </form>
        </div>

        <div class="col-12 col-lg-4 more">
            <span class="or mt-3 hidden-lg-up">or</span>
            <div class="social-options pt-2 mb-5 mx-auto">
                <span class="lead">Already have an account ?</span>
                <a href="/signIn" class="btn-jump">Sign In</a>
            </div>
        </div>
    </div>


    <!-- Flash Message modal  -->

    <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- Error and success Messages -->

                </div>
            </div>
        </div>
    </div>


</div>
