<header>
    <div href="/home" class="site-logo mb-2"><span>CMU E-Course</span></div>
    <% if(cart){ %>
        <a href="/checkout" id="btn-cart" class="btn btn-primary" aria-label="View 3 items in your shopping cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;<span id="cartNumber" class="badge badge-light"></span>
        </a>
    <% } %>
    <% if(signUp){ %>

        <% if(signUpMsg.length == 6) { %>
            <a href="/signUp" class="sign-in">Please Sign In/Sign Up</a>
        <% }%>
            <div class="sign-in"><%= signUpMsg%> &nbsp;&nbsp;</div>
    <% } %>
</header>